#quizWindow {
    display: none;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#resultWindow {
    display: none;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#startWindow {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#question {
    text-align: center;
    font-size: 170%;
    font-weight: bold;
    color: rgb(104, 0, 0);
}

#result {
    font-size: 200%;
    font-weight: bold;
}

#scores {
    font-size: 150%;
}

#bestScores {
    font-size: 150%;
}

#answerOptions {
    list-style-type: none;
}

#next {
    font-size: 120%;
}

h1 {
    font-size: 300%;
    color: rgb(105, 105, 105);
}


li {
    font-size: 150%;
    text-align: center;
    margin: 3%;
}



html,
body {
    position: relative;
    height: 100%;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/file-1ecA4sSaVVAFb1qffeiEfw.webp");
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
    pointer-events: none;
}

button {
    margin: 3%;
    font-size: 150%;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    box-shadow: inset 0 8px 12px;
}

button:hover {
    background-color: rgb(192, 226, 205);
    cursor: pointer;
}

button:active {
    cursor: pointer;
    background-color: rgb(241, 152, 152);
    box-shadow: inset 0 10px 16px;
}

li:hover {
    background-color: rgb(192, 226, 205);
    cursor: pointer;
}

li:active {
    background-color: rgb(241, 152, 152);
    cursor: pointer;
}

@media (max-width: 1500px) {
    body {
        font-size: 0.75rem;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 0.5rem;
    }

    button {
        width: 60px;
        height: 30px;
        border-radius: 10px;
        box-shadow: inset 0 4px 8px;
    }
}