#quizWindow {
    display: none;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#resultWindow {
    display: none;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#startWindow {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}



